nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 60px;

    background-color: red;
}

nav h2 {
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav li {
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

nav li:hover {
    color: #60a5fa;
}